* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Hubballi', cursive;
    min-height: 100vh;
    background: linear-gradient(to right bottom, #b6f492, #42c9ae);
    background-attachment: fixed;
}

.content {
    float: left;
    width: 30vw;
    background: whitesmoke;
    height: 100vh;
    position: relative;
    color: whitesmoke;
    z-index: -10;
}

h1 {
    font-weight: bolder;
    font-size: 3vw;
}

p {
    font-size: x-large;
}

form {
    background: rgb(210, 210, 210);
    margin: auto;
    width: 80%;
    padding: 20px 20px;
    border-radius: 10px;
}

.content:after {
    content: '';
    position: absolute;
    right: -80px;
    border-top: 100vh solid whitesmoke;
    border-right: 80px solid transparent;
}

.inner {
    padding: 10px 10px;
    width: 30vw;
    text-align: center;
    float: left;
    position: absolute;
    z-index: 10;
    height: 92vh;
}

.slider {
    transition: all 0.8s ease-out;
    transform: translateX(-800px);
    overflow: hidden;
}

.slideIn {
    transform: translateX(0px);
}

input[type=text] {
    font-family: 'roboto', Sans-Serif;
    border: 1px solid rgb(180, 180, 180);
    background-color: whitesmoke;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 7px;
    margin: 3px 0px;
}

.button {
    font-family: 'roboto', Sans-Serif;
    text-align: center;
    background: linear-gradient(to right bottom, #42c9ae, #92f4c3);
    color: rgb(70, 70, 70);
    padding: 14px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.4s ease;
    appearance: none;
}

.button:hover {
    background: #7EE8FA;
}

.svgDiv {
    float: right;
    width: 65vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.svgDivShow {
    opacity: 1;
}

.svg {
    height: 50%;
    width: 50%;
}

.bottomText {
    position: absolute;
    bottom: 0px;
    padding: 10px 10px;
    font-size: 15px;
}

.PBL {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

  
.wrapper {
    display: inline-flex;
    height: 60px;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;

}
.option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to right bottom, #42c9ae, #92f4c3);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
  
input[type="radio"] {
    display: none;
}

.option-1B:checked:checked ~ .option-1, .option-2B:checked:checked ~ .option-2,.option-3B:checked:checked ~ .option-3 {
    border-color: rgb(129, 129, 129);
    background: linear-gradient(to right bottom, #42c9ae, #92f4c3);
}

.option-1B:checked:checked ~ .option-1 .dot, .option-2B:checked:checked ~ .option-2 .dot, .option-3B:checked:checked ~ .option-3 .dot {
    background: #fff;
}

.option-1B:checked:checked ~ .option-1 .dot::before, .option-2B:checked:checked ~ .option-2 .dot::before, .option-3B:checked:checked ~ .option-3 .dot::before {
    opacity: 1;
    transform: scale(1);
}
  
.option span {
    font-size: 20px;
    color: #808080;
}

.option-1B:checked:checked ~ .option-1 span, .option-2B:checked:checked ~ .option-2 span, .option-3B:checked:checked ~ .option-3 span {
    color: rgb(70, 70, 70);
}

.input-symbol {
    position: relative;
}

.input-symbol input {
    padding-right: 18px;
}

.input-symbol:after {
    position: absolute;
    top: 0;
    right: 8px;
}

.input-symbol:after {
    content: attr(input-symbol);
}

.tooltip {
    margin-top: 5px;
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    width: 360px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -180px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.7;
}