body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Hubballi', cursive;
    min-height: 100vh;
    background: linear-gradient(to right bottom, #b6f492, #42c9ae);
    background-attachment: fixed;
}

.navbar {
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 9vh;
    box-shadow: 0px 2px 30px 5px black;
}

.canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button {
    font-family: 'roboto', Sans-Serif;
    text-align: center;
    background: linear-gradient(to right bottom, #42c9ae, #92f4c3);
    color: rgb(70, 70, 70);
    padding: 14px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.4s ease;
    appearance: none;
    margin: 15px;
}

.button:hover {
    background: #7EE8FA;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-width: 30px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}